@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&family=Roboto+Condensed:ital,wght@1,700&display=swap');


* {
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-weight: 500;
}

button {
    background-color: #ffffff;
}


body {
    background-color: #EAE8FE;
    width: 100vw;
}

/* 초기화 작업 */

header {
    display: flex;
    justify-content: center;
    margin-bottom: 43px;
}

.title-img {
    width: 386px;
    height: 165px;
}

/*  위의 콜라 이미지 */

.flex-wrapper {
    display: flex;
    gap: 28px;
    justify-content: center;
}

/* 전체를 플렉스 처리 */

.left-box {
    padding: 32px 27px 27px;
    background-color: white;
}

.left-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* 초기 박스 사이즈 */

.line1,
.line2 {
    height: 130px;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.line1-1,
.line1-2,
.line1-3,
.line2-1,
.line2-2,
.line2-3 {
    width: 94px;
    height: 130px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 4px 0 #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.won {
    text-align: center;
    width: 70px;
    border-radius: 50px;
    background-color: blue;
    color: #ffffff;
}

.item {
    font-size: 9px;
}

.line3 {
    margin-top: 20px;
}


.line3,
.line4 {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.line3-1,
.line4-1 {
    width: 200px;
    height: 32px;
    border-radius: 5px;
}

/* 잔액 표시 */
.line3-1 {
    width: 200px;
    background-color: #EAE8FE;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line4-1 {
    border: 1px solid #bdbdbd;
}

.line3-2,
.line4-2 {
    font-family: 'Noto Sans KR';
    border: none;
    width: 94px;
    height: 32px;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 #000000;
}


.line5 {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.line5-1 {
    background-color: #EAE8FE;
}

.line5-1,
.line5-2 {
    height: 106px;
    border-radius: 5px;
}

.line5-1 {
    width: 200px;
    box-shadow: 0 0 4px 0 #000000;
    overflow: hidden;
}

.line5-1 ul {
    padding-top: 12px;
    overflow-y: scroll;
    display: flex;
    padding-left:12px;
    padding-right: 18px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.line5-1 ul .items {
    display: flex;
    justify-content: center;
}

.line5-2 {
    color: #ffffff;
    width: 94px;
    background-color: #6327Fe;
}


/* 우측 박스 */
.right-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.first-box,
.sec-box {
    width: 360px;
}

.first-box {
    background-color: #ffffff;
}

.fb-content {
    font-family: 'Noto Sans KR';
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    margin: 9px 27px;
    background-color: #EAE8FE;
    border-radius: 5px;
}

.fb-content span {
    padding-left: 10px;
    padding-right: 10px;
}


/* 2-2번째 박스 */

.sec-box {
    background-color: #ffffff;
}

.sec-box h2 {
    margin-top: 25px;
    font-size: 14px;
    text-align: center;
    margin-bottom: 13px;
}

.sb-content {
    height: 364px;
    background-color: #eae8fe;
    border-radius: 5px;
    border: 1px solid #c1c1c1;
    margin-left: 27px;
    margin-right: 27px;
    margin-bottom: 6px;
}

.list-content {
    overflow-y: scroll;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

li {
    background-color: #ffffff;
    list-style: none;
    height: 46px;
    width: 260px;
}

.img-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 8px;
}

.img-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.img-content img {
    width: 18px;
    height: 33px;
}

.output {
    font-family: 'Noto Sans KR';
    margin-bottom: 46px;
    margin-right: 30px;
    text-align: right;
}