@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&family=Roboto+Condensed:ital,wght@1,700&display=swap');
/* Noto-sans-kr 500 */


* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

ul,
li {
    list-style: none;
}

button {
    background-color: transparent;
    box-shadow: 0 0 4px 0 #000000;
    border: none;
}

body {
    width: 100vw;
    background-color: #EAE8FE;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* 헤더 부분 등록 */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 43px;
}

header img {
    width: 386px;
}

/* 메인 */
main {
    /* width: 748px; */
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

.vending-left {
    /* padding: 31px 27px 28px; */
    background-color: white;
}

.first-line {
    display: flex;
    gap: 12px;
}

.first-line button {
    border-radius: 10px;
    width: 94px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-line button img {
    margin-top: 11px;
    margin-bottom: 6px;
}

.first-line button .can-name {
    font-size: 9px;
    margin-bottom: 7px;
    padding-left: 11px;
    padding-right: 10px;
}

.first-line button .price {
    border-radius: 50px;
    background-color: #6327FE;
    color: #FFFFFF;
    padding: 5px 16px 5px 15px;
    margin-bottom: 9px;
}

.second-line {
    margin-top: 12px;
    margin-bottom: 20px;
}

/* 1,2줄 번째 캔 생성 */
.check-money, .input-money{
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
}
.rest-money{
    width: 200px;
    display: flex;
    background-color: #EAE8FE;
    padding-top:6px;
    padding-bottom: 6px;
    padding-left: 10px;
    gap: 79px;
}
.check-money .money{
    padding:6px 9px 7px 10px;
}

/* 3번째 줄 생성 */
.input-money input{
    width: 200px;
    padding-left:6px;
    padding-bottom: 7px;
    padding-top: 6px;
}
.input-money button{
    padding: 6px 35px 7px;

}

/* 4번째 줄 생성 */

.items-earn{
    display: flex;
    gap: 12px;
}

ul{
    display: flex;
    flex-direction: column;
    border:1px solid #bdbdbd;
    border-radius: 5px;
    gap:6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top:12px;
    background-color: #EAE8FE;
    /* overflow-y: scroll; */
}
li{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 7px;
    padding-right: 8px;
    gap: 104px;
}

.number-box{
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 4px 11px 6px;
    margin-right: 8px;
}

.violet-button{
    font-size: 13px;
    background-color: #6327FE;
    padding:43px 35px 44px;
    color: #ffffff;
}
