@font-face {
    font-family: 'PR';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PB';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 800;
    font-style: bold;
}


*{
    font-size: 12px;
}

body {
    margin: 0;
    width: 100%;
}

section {
    border-radius: 10px;
    width: 288px;
    box-shadow: 2px 2px 8px 0px #0000001A;
}

p {
    margin: 0;
}

.pr{
    font-family: "PR";
    font-size: 12px;
}
.pb{
    font-family: "PB";
    font-size: 16px;
}

/* 위는 css 초기값 설정 */

.title-section {
    display: flex;
    gap: 16px;
    padding: 16px 16px 12px;
}

.title-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* 제목 부분 설정 */
.main-img {
    width: 100%;
}

/* 내용 부분 정리 */

.underbox{
    display: flex;
    flex-direction: column;
    margin: 10px 16px 16px;
    gap: 12px;
}
.content {
    height: 84px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    line-height: 1.6;
    height: calc(1em * 1.6 * 2);
}

.menu{
    display: flex;
    justify-content: space-between;
}

.left-icon{
    display: flex;
    gap:20px;
}


.right-icon{
    display: flex;
    gap: 8px;
}

.right-icon img{
    width: 32px;
    height: 32px;
}
