body,
div {
    margin: 0;
    padding: 0;
}

.total {
    position: relative;
    background-color: red;
    width: 503px;
    height: 458px;
}

.ears {
    position: absolute;
    display: flex;
    gap: 160px;
    overflow: hidden;
}

.ears .ears-left,
.ears .ears-right {
    width: 170px;
    height: 147px;
    background-color: white;
    border: 1px solid black;
    border-radius: 90px;
}

.pink {
    width: 76px;
    height: 74px;
    background-color: pink;
    margin: 45px auto 28px;
    border-radius: 90px;
}

/* 얼굴 */
.face {
    width: 500px;
    height: 450px;
    background-color: white;
    border: 1px solid black;
    border-radius: 482px;
}

/* 눈 */
.eye {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.eye-left,
.eye-right {
    margin-top: 160px;
    border-radius: 50%;
    width:50px;
    height: 50px;
    background-color: black;   
}

.eye-pot{
    width: 14px;
    height: 10px;
    background-color: gray;
    border-radius: 10px 10px 10px;
    margin: 50% auto;
}