%format-btn {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .check-btn{
      @extend %format-btn;
      color: red;
      background-color: skyblue;
  }
  
  .send-btn{
      @extend %format-btn;
      background-color: black;
  }