/* 내용숨기기 */
.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

/* 전역변수 */
:root{
    /* color */
    --bg-color: #EAE8FE;
    --white: #fff;
    --btn-color: #6327FE;
    --dark-gray:#333333;

    /* fontSize */
    --font9 : 9px;
    --font10: 10px;
    --font12: 12px;
    --font13: 13px;
    --font14: 14px;
}


/* reset */
body{
    margin: 0;
}

h1,
h2,
p{
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
}

ul, 
li{
    list-style: none;
}

ul{
    padding: 0;
}

button{
    border: none;
    background-color: transparent;
    padding: 0;
}

/* 레이아웃 */
body{
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 43px;
}

.vending-machine{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

/* 판매음료 영역 */
.menu-area,
.result-area{
    width: 360px;
    height: 545px;
}

.menu-area{
    box-sizing: border-box;
    padding: 27px;
}

.menu-area .menu-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 12px;
}

.menu-list .menu{
    width: 94px;
    height: 130px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menu-list .menu img{
    display: block;
    width: 36px;
    margin: auto;
}

.menu-list .menu span{
    display: block;
    margin: 6px 0 7px 0 ;
}

.menu-list .menu strong{
    width: 70px;
    height: 22px;
    box-sizing: border-box;
    padding: 5px 16px 5px 15px;
}

.menu-list .menu button{
    height: 100%;
    margin: auto;
}

/* 카드영역 */
.cart-area{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;

    gap: 11px 12px;
    
}

.cart-area .money{
    box-sizing: border-box;
    width: 200px;
    height: 33px;
    padding: 0 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.get-list img{
    width: 18px;
}

/* 디자인 적용하기 */
body{
    background-color: var(--bg-color);
    font-size: 14px;
}

/* 판매메뉴 디자인 */
.menu-area{
    background-color: var(--white);
}

.result-area{
    background-color: aqua;
}

.menu-list .menu{
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.50);
}

.menu-list .menu span{
    font-size: var(--font9);
    color: var(--dark-gray);
}

.menu-list .menu strong{
    border-radius: 50px;
    background-color: var(--btn-color);
    color: var(--white);
    font-weight: 500;
}

/* 카드 디자인 */
.cart-area .money{
    background-color: var(--bg-color);
    border-radius: 10px;
    font-weight: 500;
}

.cart-area .input{

}